.grid {
    display: grid;
    grid-auto-flow: row;
    align-items: center;
    justify-content: center;
    gap: 20px 5px;
    margin: auto;

}

.green {
    color: #3B5249;
    text-align: center;

}

.rounded {
    border-radius: 10px;
}


