.container {
    padding: 20px;
    width: 100%;
    background: rgba(250, 250, 250, 0.9);
    position: fixed;
    top: 0;
    z-index: 500;
    display: flex;
    flex: 50px 1;
    justify-content: left;
    align-items: center;
    backdrop-filter: blur(30px);
}
.page:hover {
    text-decoration: underline;
}

.container > *:nth-child(1){
    flex-shrink: 0;
}

.page {
    white-space: nowrap;
    font-size: 18px;
    margin-left: 25px;
    color: #3B5249;
    text-decoration: none;
}
.currentPage {
    text-decoration: underline;
}



.menubar {
    position: absolute;
    z-index: 1000;
    display: grid;
    width: 100px;
    transition: all 0.3s ease-in-out 0s;
    opacity: 1;
    grid-auto-flow: row;
    gap: 10px;
    right: 20px;
    top: 70px;
    background: rgba(59, 82, 73, 0.95);;
    backdrop-filter: blur(40px);
    border-radius: 20px;
    padding: 10px;
    visibility: visible;
}

.menubar a {
    text-decoration: none;
}

.closingArea {
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25px;
    z-index: 751;
    cursor: pointer;
    display: none;
    
}

.line {
    width: 45px;
    height: 7px;
    background: #3B5249;
    border-radius: 53px;
}


@media(max-width: 500px) {
    .container>*:nth-child(-n + 5) {
        display: none;
    }
    .container {
        justify-content: space-between;
    }
    .icon {
        display: flex;
    }
}

.white {
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}